# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store
Cheaper.xcworkspace
Cheaper.xcodeproj
*.xcodeproj
*.xcworkspace
Pods/
